:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #cad3f5;
  background-color: #24273a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* display: flex; */
  align-items: start;
  justify-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.list-body {
  background-color: #1e2030;
}

.new-list-item {
  background-color: #1e2030;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
}
label {
  display: block;
  font-size: larger;
  margin-bottom: 0.5em;
}

input {
  font-size: larger;
  display: block;
  background-color: #5b6078;
  border: 1px solid rgb(128, 135, 162);
  border-radius: 0.2em;
  margin-bottom: 1em;
}

input:focus {
  border-color: #b7bdf8;
}

button {
  min-width: 7em;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #363a4f;
  border-color: #6e738d;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #b7bdf8;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.new-task-button {
  padding: 0.3em 0.7em;
  font-size: 1em;
}

.list-item-complete {
  text-decoration: line-through;
  color: #6e738d;
}
.list-item-complete > button {
  background-color: #363a4f;
  color: #6e738d;
  border-color: #6e738d;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
